<footer class="footer border-top border-bottom">
  <section>
    <div class="container p-5">
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <ul class="list-unstyled text-muted footer-content">
            <li>{{ nombreSistema }}</li>
            <li>© 2023 Ministerio de Finanzas Públicas</li>
            <li>{{ direccion }}</li>
            <li>8a. Avenida 20-59 Zona 1, Centro Cívico, Guatemala - 01001</li>
            <li>PBX (502) {{ telefono }}</li>
            <!-- <li><small>Dirección de Tecnologías de la Información</small></li> -->
          </ul>
        </div>
        <div class="col-xs-12 col-lg-6 ">
          <ul class="justify-content-lg-end list-unstyled d-flex browser-content">
            <li class="navigator text-muted d-none d-sm-block">Navegadores recomendados:</li>
            <li class="bi bi-browser-chrome text-muted"></li>
            <li class="bi bi-browser-edge text-muted"></li>
            <li class="bi bi-browser-firefox text-muted"></li>
            <li class="bi bi-browser-safari text-muted"></li>
          </ul>
          <ul class="justify-content-lg-end list-unstyled d-flex">
            <li class="fw-bold">Version: {{ version }}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>
