<div>
  <div class="form-group">
    <label [class]="required ? 'required form-label' : 'form-label'">{{ label }}</label>
    <div class="input-group">
      <input
      id="textoArchivo"
        type="text"
        class="form-control"
        (click)="selectFile()"
        onKeyPress="if(this.value.length==0) return false;"
        readonly
        [(ngModel)]="modelFile"
      >
      <input
        [id]="identificador"
        #file
        hidden
        id="fileUpload"
        type="file"
        [accept]="accept"
        [multiple]="multiple"
        (change)="selectFiles(file.files)"
      />
      <span class="input-group-text text-white fw-bolder btn" [ngClass]="classBtnUpload" (click)="selectFile()">
        <i class="{{ iconUpload }}"></i>
      </span>
      <span *ngIf="!multiple && listFiles.length" class="input-group-text text-white btn btn-primary" (click)="openViewFile(listFiles[0])">
        <i class="{{ iconShowFile }}"></i>
      </span>
      <span *ngIf="listFiles.length" class="input-group-text text-white btn btn-danger" (click)="deleteAllFiles()">
        <i class="{{ iconDeleteFile }}"></i>
      </span>
      <span *ngIf="multiple && listFiles.length" class="input-group-text text-white btn btn-dark" (click)="changeView()">
        <i [class]="iconView"></i>
      </span>
    </div>
  </div>
  <div *ngIf="listFiles.length && multiple" class="mt-2">
    <div *ngIf="viewList; else viewGrid" >
      <!-- <ul class="list-group mb-1">
        <li class="list-group-item" *ngFor="let file of listFiles">
          <div class="d-flex align-items-center">
            <div class="flex-grow-1 w-80">
              <div class="d-flex">
                <div class="flex-shrink-0 ms-2 w-90">
                  <h6 class="fs-12 mb-0 text-truncate">{{ file.name }}</h6>
                  <small class="text-muted">{{ file.type }}</small>
                  <br>
                  <small class="text-muted">{{ file.size }}</small>
                </div>
              </div>
            </div>
            <div class="flex-shrink-0">
              <button class="btn btn-icon-sm danger" (click)="deleteFile(file)">
                <i class="bi bi-trash3"></i>
              </button>
            </div>
          </div>
        </li>

      </ul> -->
      <div class="list-group">
        <li class="list-group-item" *ngFor="let item of listFiles; let i = index">
          <div class="d-flex align-items-center">
            <div class="flex-grow-1">
              <div class="d-flex">
                <div class="flex-shrink-0 avatar-xs">
                  <div class="avatar-title bg-soft-danger text-danger rounded">
                    <span>{{ i + 1 }}</span>
                  </div>
                </div>
                <div class="flex-shrink-1 ms-2">
                  <h6 class="fs-14 mb-0">{{ item.name }}</h6>
                  <small class="text-muted">{{ item.type }}</small><br>
                  <small class="text-muted">{{ item.size }}</small>
                </div>
              </div>
            </div>
            <div class="flex-shrink-0">
              <button class="btn btn-icon-sm danger" (click)="deleteFile(item)">
                <i class="bi bi-trash3"></i>
              </button>
            </div>
          </div>
        </li>
      </div>
    </div>
    <ng-template #viewGrid>
      <div class="row gx-0 bg-light1">
        <div class="col-4 p-1" *ngFor="let item of listFiles">
          <div class="card card-file-upload">
            <div class="btn-drop-file">
              <button type="button" class="btn btn-danger position-relative p-0 avatar-xs rounded-circle" >
                <span class="bg-transparent text-reset">
                  <i class="bi bi-dash-lg" (click)="deleteFile(item)"></i>
                </span>
            </button>
            </div>
            <img [src]="item.path"  class="card-img-top" [id]="item.name" alt="..." (error)="getExtensionFile(item)"  (click)="openViewFile(item)" >
            <div class="card-body">
              <p class="card-text fs-10 text-truncate">{{ item.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="alert alert-file is-helpful " role="alert" *ngIf="alertViewFile">
    No podemos mostrar este tipo de archivo!!! :(
  </div>
</div>
