<div class="p-3">
  <div *ngIf="mq === 'lg' || mq === 'xl' then laptop else movil"></div>
  <ng-template #laptop>
    <div class="card " >
      <div class="card-header">
        <h4 class="card-title">Lista Roles</h4>
        <div class="row align-items-center">
          <div class="col-8">
            <div class="form-icon right">
              <input
                type="text"
                class="form-control form-control-icon"
                placeholder="Búscar"
                [(ngModel)]="filtrarBusqueda"
              />
              <i *ngIf="!filtrarBusqueda.length" class="bi bi-search"></i>
              <i *ngIf="filtrarBusqueda.length" class="bi bi-x-lg cursor-pointer" (click)="filtrarBusqueda = ''"></i>
            </div>
          </div>
          <div class="col-4 text-end">
            <button
              *ngIf="permisos.inserta"
              type="button"
              class="btn btn-primary btn-label"
              (click)="abrirModalAgregarRol(false)"
            >
              <i class="bi bi-plus label-icon"></i>
              Agregar Rol
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-core">
            <thead>
              <tr>
                <th
                  *ngFor="let item of headers"
                  [class]="item.class"
                  [width]="item.width"
                  [style]="'text-align: '+ item.align"
                >
                  {{ item.text }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listadoRolesFiltrados | paginate : { itemsPerPage: itemsPage, currentPage: page }">
                <td align="right">{{ item.idRol }}</td>
                <td >{{ item.nombre }}</td>
                <td>{{ item.descripcion }}</td>
                <td class="bg-success text-white text-uppercase fw-semibold" [class.bg-danger]="!item.activo" align="center">
                  {{ item.activo ? "Activo" : "Inactivo" }}</td>
                <td align="center">
                  <button
                    class="btn btn-icon btn-ghost-primary position-relative"
                    [routerLink]="['opciones-menu']"
                    (click)="irOpcionesMenu(item)"
                    title="Ir a opciones de menú"
                  >
                    <span class="material-icons">route</span>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-light text-primary">
                      {{ item.contadorOpcionesMenu }}
                      <span class="visually-hidden">unread messages</span>
                    </span>
                  </button>

                </td>
                <td align="center" *ngIf="permisos.elimina || permisos.modifica" >
                  <button
                    *ngIf="permisos.modifica"
                    class="btn btn-icon btn-ghost-primary"
                    (click)="abrirModalAgregarRol(true, item)"
                  >
                    <span class="material-icons">edit</span>
                  </button>
                  <button
                    *ngIf="permisos.elimina"
                    class="btn btn-icon btn-ghost-danger"
                    (click)="eliminarRol(item)"
                  >
                    <span class="material-icons">delete</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="!listadoRolesFiltrados.length"  [class]="resultadobusqueda ? 'alert-warning' : 'alert-danger'" class="alert alert-dismissible fade show" role="alert">
          <span *ngIf="!resultadobusqueda"><strong>Lo sentimos!</strong> No encontramos resultados</span>
          <span *ngIf="resultadobusqueda" ><strong>Lo sentimos!</strong> No pudimos encontrar ningún resultado para su búsqueda. Use palabras más genéricas o revise su ortografía.</span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>

  </ng-template>
  <ng-template #movil>
    <div class="row">
      <div class="col-md-12 mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar"
          [(ngModel)]="filtrarBusqueda"
        />

        <button
          type="button"
          class="btn btn-primary btn-fab"
          (click)="abrirModalAgregarRol(false)"
        >
          <span class="material-icons">add</span>
        </button>
      </div>

      <div class="col-md-6 sm-12" *ngFor="let item of listadoRolesFiltrados | paginate : { itemsPerPage: itemsPage, currentPage: page }">
        <div class="list-group" >
          <a class="card" [class]="item.activo ? 'bar-left-success' : 'bar-left-danger'">
            <div class="card-header">
              <div class="d-flex align-items-center">
                <div class="card-title mb-0">
                  <strong>{{ item.nombre }}</strong>
                  <span class="badge ms-1 mb-0" [class]="item.activo ? 'badge-soft-success' : 'badge-soft-danger'">{{ item.activo ? "Activo" : "Inactivo" }}</span>
                </div>
                <div class="ms-auto my-auto">
                  <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-icon-sm light">
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-animated">
                      <li role="menuitem"><a class="dropdown-item" [routerLink]="['opciones-menu']" (click)="irOpcionesMenu(item)">Lista de opciones</a></li>
                      <li role="menuitem"><a class="dropdown-item" (click)="abrirModalAgregarRol(true, item)">Editar</a></li>
                      <li role="menuitem"><a class="dropdown-item" (click)="eliminarRol(item)">Eliminar</a></li>
                  </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body border-top">
              <small>{{item.descripcion}}</small>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="!listadoRolesFiltrados.length"  [class]="resultadobusqueda ? 'alert-warning' : 'alert-danger'" class="alert alert-dismissible fade show" role="alert">
      <span *ngIf="!resultadobusqueda"><strong>Lo sentimos!</strong> No encontramos resultados</span>
      <span *ngIf="resultadobusqueda" ><strong>Lo sentimos!</strong> No pudimos encontrar ningún resultado para su búsqueda. Use palabras más genéricas o revise su ortografía.</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </ng-template>
  <div *ngIf="listadoRolesFiltrados.length >= itemsPage" class="d-flex justify-content-center">
    <pagination-controls
      class="pagination-rounded"
      (pageChange)="page = $event"
      previousLabel=""
      nextLabel=""
    ></pagination-controls>
  </div>
</div>
