<div>
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0">Diseño de Checks & Radios</h4>
      <div>
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a routerLink="/public">Inicio</a></li>
          <li class="breadcrumb-item">Botones</li>
        </ol>
      </div>
    </div>
  </div>


  <div class="p-3">
    <div class="card overflow-hidden">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Entradas tipo CheckBox</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p class="text-muted">Use la clase <code>form-check-</code> seguido de la clase mencionada para establecer un color en la casilla de verificación.</p>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" id="formCheck1" checked="">
              <label class="form-check-label" for="formCheck1">
                  Checkbox Primary
              </label>
            </div>
            <div class="form-check form-check-secondary mb-3">
              <input class="form-check-input" type="checkbox" id="formCheck2" checked="">
              <label class="form-check-label" for="formCheck2">
                  Checkbox Secondary
              </label>
            </div>
            <div class="form-check form-check-success mb-3">
              <input class="form-check-input" type="checkbox" id="formCheck3" checked="">
              <label class="form-check-label" for="formCheck3">
                  Checkbox Success
              </label>
            </div>
            <div class="form-check form-check-info mb-3">
              <input class="form-check-input" type="checkbox" id="formCheck4" checked="">
              <label class="form-check-label" for="formCheck4">
                  Checkbox Info
              </label>
            </div>
            <div class="form-check form-check-warning mb-3">
              <input class="form-check-input" type="checkbox" id="formCheck5" checked="">
              <label class="form-check-label" for="formCheck5">
                  Checkbox Warning
              </label>
            </div>
            <div class="form-check form-check-danger mb-3">
              <input class="form-check-input" type="checkbox" id="formCheck6" checked="">
              <label class="form-check-label" for="formCheck6">
                  Checkbox Danger
              </label>
            </div>
            <div class="form-check form-check-dark mb-3">
              <input class="form-check-input" type="checkbox" id="formCheck7" checked="">
              <label class="form-check-label" for="formCheck7">
                  Checkbox Dark
              </label>
            </div>

          </div>
          <div class="col-md-6">
            <p class="text-muted">Use la clase <code>form-check-outline</code> y la clase <code>form-check-</code> con la variación de color mencionada para establecer el color en la casilla de verificación.</p>
            <!-- Custom Outline Checkboxes -->
            <div class="form-check form-check-outline form-check-primary mb-3">
              <input class="form-check-input" type="checkbox" id="formCheck8">
              <label class="form-check-label" for="formCheck8">
                  Checkbox Outline Primary
              </label>
            </div>
            <div class="form-check form-check-outline form-check-secondary mb-3">
              <input class="form-check-input" type="checkbox" id="formCheck9">
              <label class="form-check-label" for="formCheck9">
                  Checkbox Outline Secondary
              </label>
            </div>
            <div class="form-check form-check-outline form-check-success mb-3">
              <input class="form-check-input" type="checkbox" id="formCheck10" checked>
              <label class="form-check-label" for="formCheck10">
                  Checkbox Outline Success
              </label>
            </div>

            <div class="form-check form-check-outline form-check-info mb-3">
              <input class="form-check-input" type="checkbox" id="formCheck11" checked>
              <label class="form-check-label" for="formCheck11">
                  Checkbox Outline Info
              </label>
            </div>

            <div class="form-check form-check-outline form-check-warning mb-3">
              <input class="form-check-input" type="checkbox" id="formCheck12" checked>
              <label class="form-check-label" for="formCheck12">
                  Checkbox Outline Warning
              </label>
            </div>

            <div class="form-check form-check-outline form-check-danger mb-3">
              <input class="form-check-input" type="checkbox" id="formCheck13" checked>
              <label class="form-check-label" for="formCheck13">
                  Checkbox Outline Danger
              </label>
            </div>

            <div class="form-check form-check-outline form-check-dark mb-3">
              <input class="form-check-input" type="checkbox" id="formCheck14" checked>
              <label class="form-check-label" for="formCheck14">
                  Checkbox Outline Dark
              </label>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="card overflow-hidden">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Entradas tipo Radios</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p class="text-muted">Use la clase <code>form-radio-</code> seguido de la clase mencionada para establecer un color en la casilla de verificación.</p>
            <div class="form-check form-radio-primary mb-3">
              <input class="form-check-input" type="radio" name="formradiocolor1" id="formradioRight5" checked>
              <label class="form-check-label" for="formradioRight5">
                  Radio Primary
              </label>
            </div>
            <div class="form-check form-radio-secondary mb-3">
              <input class="form-check-input" type="radio" name="formradiocolor2" id="formradioRight6" checked>
              <label class="form-check-label" for="formradioRight6">
                  Radio Secondary
              </label>
            </div>
            <div class="form-check form-radio-success mb-3">
              <input class="form-check-input" type="radio" name="formradiocolor3" id="formradioRight7" checked>
              <label class="form-check-label" for="formradioRight7">
                  Radio Success
              </label>
            </div>
            <div class="form-check form-radio-warning mb-3">
                <input class="form-check-input" type="radio" name="formradiocolor4" id="formradioRight8" checked>
                <label class="form-check-label" for="formradioRight8">
                    Radio Warning
                </label>
            </div>
            <div class="form-check form-radio-danger mb-3">
                <input class="form-check-input" type="radio" name="formradiocolor5" id="formradioRight9" checked>
                <label class="form-check-label" for="formradioRight9">
                    Radio Danger
                </label>
            </div>
            <div class="form-check form-radio-info mb-3">
                <input class="form-check-input" type="radio" name="formradiocolor6" id="formradioRight10" checked>
                <label class="form-check-label" for="formradioRight10">
                    Radio Info
                </label>
            </div>
            <div class="form-check form-radio-dark mb-3">
                <input class="form-check-input" type="radio" name="formradiocolor7" id="formradioRight11" checked>
                <label class="form-check-label" for="formradioRight11">
                    Radio Dark
                </label>
            </div>
          </div>

          <div class="col-md-6">
            <p class="text-muted">Use la clase <code>form-radio-</code> seguido de la clase mencionada para establecer un color en la casilla de verificación.</p>
            <!-- Custom Outline Radio -->
            <div class="form-check form-radio-outline form-radio-primary mb-3">
              <input class="form-check-input" type="radio" name="formradiocolor9" id="formradioRight13" checked>
              <label class="form-check-label" for="formradioRight13">
                  Radio Outline Primary
              </label>
            </div>
            <div class="form-check form-radio-outline form-radio-secondary mb-3">
              <input class="form-check-input" type="radio" name="formradiocolor10" id="formradioRight14" checked>
              <label class="form-check-label" for="formradioRight14">
                  Radio Outline Secondary
              </label>
            </div>
            <div class="form-check form-radio-outline form-radio-success mb-3">
                <input class="form-check-input" type="radio" name="formradiocolor11" id="formradioRight15" checked>
                <label class="form-check-label" for="formradioRight15">
                    Radio Outline Success
                </label>
            </div>
            <div class="form-check form-radio-outline form-radio-warning mb-3">
                <input class="form-check-input" type="radio" name="formradiocolor12" id="formradioRight16" checked>
                <label class="form-check-label" for="formradioRight16">
                    Radio Outline Warning
                </label>
            </div>
            <div class="form-check form-radio-outline form-radio-danger mb-3">
                <input class="form-check-input" type="radio" name="formradiocolor13" id="formradioRight17" checked>
                <label class="form-check-label" for="formradioRight17">
                    Radio Outline Danger
                </label>
            </div>
            <div class="form-check form-radio-outline form-radio-info mb-3">
                <input class="form-check-input" type="radio" name="formradiocolor14" id="formradioRight18" checked>
                <label class="form-check-label" for="formradioRight18">
                    Radio Outline Info
                </label>
            </div>
            <div class="form-check form-radio-outline form-radio-dark mb-3">
                <input class="form-check-input" type="radio" name="formradiocolor15" id="formradioRight19" checked>
                <label class="form-check-label" for="formradioRight19">
                    Radio Outline Dark
                </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card overflow-hidden">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Entradas tipo Radios</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
