.dropdown-toggle::after {
  border: none !important;
  content: "\e5cf";
  font-family: "Material Icons";
  font-size: 15px;
  line-height: 15px;
}

button.dropdown-toggle {
  display: inline-flex;
  align-items: center;
}
