<section class="dashboard position-relative overflow-hidden py-5">
    <div class="col-xl-6 col-md-8 mx-auto">
      <div id="table">
        <div id="centeralign" class="">
          <img class="dashboard-logo" >
          <!-- <img src="assets/logo/logotipo.png" alt=""> -->
          <p class="lead fw-normal">Expedientes Web 2.0, actualmente ofrece un dashboard por tipo de expedientes, usuarios asignados, fases en las que se encuentran los expedientes, entre otros.</p>
          <a class="btn btn-outline-secondary" routerLink="/ew/reportes/dashboard">Comenzar</a>
        </div>
      </div>
    </div>
    <div class="scheme-wallpaper d-none d-md-block">
      <img src="assets/images/esquema.png" alt="">
    </div>
    <div class="folder-wallpaper d-none d-md-block">
      <img src="assets/images/carpeta.png" alt="">
    </div>
</section>
