<div>
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0">Diseño de Botones</h4>
      <div>
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a routerLink="/public">Inicio</a></li>
          <li class="breadcrumb-item">Botones</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="p-3">
    <div class="row">
      <div class="col-md-6">
        <div class="card overflow-hidden">
          <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">1. Botones Normales</h4>
          </div>
          <div class="card-body">
            <p class="text-muted">Utilice el elemento <code>&lt;button&gt;&lt;/button&gt;</code> con las clases <code>btn btn-primary</code> seguido de la variacion del color. </p>
            <div class="d-flex flex-wrap gap-3">
              <button type="button" class="btn btn-primary">
                primary
              </button>
              <button type="button" class="btn btn-secondary">
                Secondary
              </button>
              <button type="button" class="btn btn-success">
                success
              </button>
              <button type="button" class="btn btn-info">
                info
              </button>
              <button type="button" class="btn btn-warning">
                warning
              </button>
              <button type="button" class="btn btn-danger">
                danger
              </button>
              <button type="button" class="btn btn-dark">
                dark
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card overflow-hidden">
          <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">2. Botones con Iconos Normales</h4>
          </div>
          <div class="card-body">
            <p class="text-muted">Agrege dentro del elemento<code>&lt;button&gt;&lt;/button&gt;</code> el elemento <code>&lt;i&gt;&lt;/i&gt;</code> </p>
            <div class="d-flex flex-wrap gap-3">
              <button type="button" class="btn btn-primary">
                <i class="bi bi-plus-lg"></i>
                Primary
              </button>
              <button type="button" class="btn btn-secondary">
                <i class="bi bi-check2-all"></i>
                Secondary
              </button>
              <button type="button" class="btn btn-success">
                <i class="bi bi-check2-all"></i>
                Success
              </button>
              <button type="button" class="btn btn-info">
                <i class="bi bi-info"></i>
                Info
              </button>
              <button type="button" class="btn btn-warning">
                <i class="bi bi-exclamation-diamond"></i>
                Warning
              </button>
              <button type="button" class="btn btn-danger">
                <i class="bi bi-exclamation-circle"></i>
                Danger
              </button>
              <button type="button" class="btn btn-dark">
                <i class="bi bi-moon-fill"></i>
                Dark
              </button>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6">
        <div class="card overflow-hidden">
          <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">3. Botones con Iconos personalizados</h4>
          </div>
          <div class="card-body">
            <p class="text-muted">Use la clase <code>btn-label</code> al crear un boton con Icono y Etiqueta</p>
            <p class="text-muted">Usar la clase <code>label-icon</code> al elemento <code>i</code></p>
            <div class="d-flex flex-wrap gap-3">
              <button type="button" class="btn btn-primary btn-label">
                <i class="bi bi-plus-lg label-icon"></i>
                Primary
              </button>
              <button type="button" class="btn btn-secondary btn-label">
                <i class="bi bi-check2-all label-icon"></i>
                Secondary
              </button>
              <button type="button" class="btn btn-success btn-label">
                <i class="bi bi-check2-all label-icon "></i>
                Success
              </button>
              <button type="button" class="btn btn-info btn-label">
                <i class="bi bi-info label-icon "></i>
                Info
              </button>
              <button type="button" class="btn btn-warning btn-label">
                <i class="bi bi-exclamation-diamond label-icon "></i>
                Warning
              </button>
              <button type="button" class="btn btn-danger btn-label">
                <i class="bi bi-exclamation-circle label-icon "></i>
                Danger
              </button>
              <button type="button" class="btn btn-dark btn-label">
                <i class="bi bi-moon-fill label-icon "></i>
                Dark
              </button>
            </div>
            <br>
            <p class="text-muted">Usar la clase <code>rounded-pill</code> en el elemento <code>button && i</code></p>
            <div class="d-flex flex-wrap gap-3">
              <button type="button" class="btn btn-primary btn-label rounded-pill">
                <i class="bi bi-plus-lg label-icon align-middle fs-16 me-2 rounded-pill"></i>
                Primary
              </button>
              <button type="button" class="btn btn-secondary btn-label rounded-pill">
                <i class="bi bi-check2-all label-icon align-middle fs-16 me-2 rounded-pill"></i>
                Secondary
              </button>
              <button type="button" class="btn btn-success btn-label rounded-pill">
                <i class="bi bi-check2-all label-icon align-middle fs-16 me-2 rounded-pill"></i>
                Success
              </button>
              <button type="button" class="btn btn-info btn-label rounded-pill">
                <i class="bi bi-info label-icon align-middle fs-16 me-2 rounded-pill"></i>
                Info
              </button>
              <button type="button" class="btn btn-warning btn-label rounded-pill">
                <i class="bi bi-exclamation-diamond label-icon align-middle fs-16 me-2 rounded-pill"></i>
                Warning
              </button>
              <button type="button" class="btn btn-danger btn-label rounded-pill">
                <i class="bi bi-exclamation-circle label-icon align-middle fs-16 me-2 rounded-pill"></i>
                Danger
              </button>
              <button type="button" class="btn btn-dark btn-label rounded-pill">
                <i class="bi bi-moon-fill label-icon align-middle fs-16 me-2 rounded-pill"></i>
                Dark
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card overflow-hidden">
          <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">4. Botones con estilo Phanton</h4>
          </div>
          <div class="card-body">
            <p class="text-muted">Usar la clase <code>btn-soft-</code> con la variacion de color para crear un boton con estilo Phanton</p>
            <div class="d-flex flex-wrap gap-3">
              <button class="btn btn-soft-primary">Boton Primary</button>
              <button class="btn btn-soft-secondary">Boton Secundario</button>
              <button class="btn btn-soft-success">Boton Success</button>
              <button class="btn btn-soft-info">Boton Info</button>
              <button class="btn btn-soft-warning">Boton Warning</button>
              <button class="btn btn-soft-danger">Boton Danger</button>
              <button class="btn btn-soft-dark">Boton Dark</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
