<div class="container">
  <div class="banner-panel">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 first-section">
        <h1>¡Lo sentimos!</h1>
        <p class="subtitle">No encontramos el recurso al que deseas acceder</p>
        <p class="text-muted">Código de error: 404</p>
        <br>
        <p>Intenta acceder desde el menú principal :)</p>
        <a (click)="backClicked()" style="border-radius: 25px;"  class="btn btn-primary px-4 mt-4">Regresar</a>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 second-section">
        <img src="../../../assets/images/desconnected.png" class="img-fluid">
      </div>
    </div>
  </div>
</div>
